* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
